/* Завдання 1 */
body > div > p:nth-child(2) {
  color: black;
}

h3:first-child {
  color: pink;
}
p:nth-child(-n + 1) {
  color: red;
}
#greycol {
  color: grey;
}
.yellow {
  color: yellow;
}
p {
  color: green;
}
